// *********
// Variables
// *********

// Font
$font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;

// Text size
$base-text-size: 19px;
$base-text-size-mobile: 16px;
$big-text-size: 1.15rem;
$small-text-size: 0.87rem;


// Color
$primary-color: #007aff;
$secondary-color: #007aff77;
$dark: #222;
$gray: #666;
$gray-dark: #888;
$gray-blue: #b3bbcb;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;
